//
   Created by krzysztof on 20.04.16.
extends layout

block content
    h1= title
    p Welcome to #{title}

    .container
        h1 Najnowsze posty
        ul.list-group
        li.list-group-item
            strong @dickyxxx
            span Node rz&aogon;dzi!
        li.list-group-item
            strong @dickyxxx
            span Testujemy AngularJs...